<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/public/media/favicon.png" rel="icon">

    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/general.css" rel="stylesheet">
    <link href="/public/css/home.css" rel="stylesheet">

    <script src="/public/js/axios.min.js"></script>
    <script src="/public/js/general.js"></script>
    <script src="/public/js/home.js"></script>

    <title>Catalog</title>
</head>
<body>
    <header class="header">

    </header>
    <main class="catalogs-wrap">
        
    </main>
    <footer>

    </footer>
</body>
</html>